.detalhar-filme {
  padding: 10px;
  margin: 10px;
  color: black;
}

.img-filme {
  display: flex;
  justify-content: center;
}

.img-info {
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: center;
}

.info-filme {
  width: 30%;
  padding: 50px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
}

.info-filme a {
  color: #87b9e9;
}
