.detalhar-filme {
  color: white;
  background-color: #861040;
}

.img-info {
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: center;
}

.img-info .avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.img-info .avaliacao p {
  width: 110px;
  padding: 15px;
}

.info-filme {
  width: 30%;
  padding: 50px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
}

.info-filme a {
  color: #87b9e9;
}
.img-filme {
  display: flex;
  justify-content: center;
}
