.titulo-inicial {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: black;
}

.lista-genero {
  list-style-type: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-genero li {
  margin: 10px;
  padding: 10px;
}

.lista-genero li span {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.lista-filmes {
  display: flex;
  display: inline-block;
}

.lista-filmes li {
  padding: 30px;
  display: inline-block;
}

.titulo-filme {
  color: black;
}
.data-lacamento {
  color: #646464;
}

.filtro-genero {
  background-color: #861040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.filtro-genero h2 {
  color: white;
}

.filtro-genero p {
  color: white;
}
